.container{
    display: flex;            
    align-items: center;
    padding: 0;
    height: 100dvh;
    width: 100%;
}
.quadro {
    text-transform: uppercase;
    font-size:larger;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}